.categoryContent{
    h2{
        font-size: 24px;
    color: #000;
    text-align: center;
    text-transform: uppercase;
    }
    ul{
        li{
           list-style-type: none;
            background:#fff;
            margin:5px;
            padding:10px;
            min-height: 50px;
            border-radius:20px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            h1{
                font-size:18px;
                color:#000;
            }
        }
}
}