header{
  nav{
      span{
          color:#fff;
          font-size:25px;
      }
        ul{
            list-style-type: none;
           
            li{
                a{
                    color: #fff;
                    font-size:16px;
                }
            }
            
        }
    }
}

